/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(150 175 237);
    overflow-x: hidden;
    /* margin: 2px; */
}

/* Page load animation on index and first page */
/* .aminates{
    width: 100vw;
    height: 100%;
    background-color: #96afed;
    position: absolute;
    z-index: 1000000;
    animation: animate 1s forwards  ease-in-out;
}
@keyframes animate {
0%{
    width:100vw;
}
100%{
    width: 0vw;
}
} */

.well {
    width: 100%;
    height: 152px;
    position: relative;
    top: 56px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #1f1983;
    opacity: 0;
    animation: animate 3s ease forwards;
    transition: 1s;
}

.header {
    background: #486dd8;
    height: 45px;
    width: 0%;
    /* height: 50px; */
    overflow: hidden;
    z-index: 1;
    padding: 5px 2px 0 2px;
    animation: headerAnimate 1.5s ease forwards;
    transition: 1.5s;

}
@keyframes headerAnimate {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
        
    }

}

.nar_bar {
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.logo{
    position: relative;
    bottom: -200px;
    animation: bottomTOtop 0.7s forwards ease;
    animation-delay: 1s;
    transition: .5s;
}
@keyframes bottomTOtop {
    0%{
        bottom: -200px;
        
    }
    100%{
        bottom: 2px;
    }
    
}
.logo_img {
    border: white 2px solid;
    border-radius: 50%;
    width: 43px;
    height: 40px;
    position: absolute;
    /* position: relative; */
    left: 30px;
    /* display: none; */

}

.menu {
    /* position: relative;
    top: 35px; */
    height: 100%;
    position: relative;
    margin-top: auto;
    display: flex;
}

.menu ul li {
    display: inline-block;
    flex-direction: column;
    position: relative;
    /* top: -35px; */
    /* left: 131px; */
    left: 247px;
    padding-right: 88px;
    font-size: 25px;

}

.menu ul li a {
    color: rgb(3, 1, 1);
    text-decoration: none;

    position: relative;
    top: -200px;
    animation: topTObottom 1s forwards ease;
    animation-delay: calc(0.3s * var(--i));
    transition: .5s;
}
@keyframes topTObottom {
    0%{
        top: -200px;
    }
    100%{
        top: 0px;
    }
}

.menu ul li a:hover {
    color: #dfe0e2;
    text-decoration: underline;
}

.button {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.but {
    height: 35px;
    width: 130px;
    margin: 20px 0 0 42px;
    background-color: #486dd870;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    border: 2px black solid;
    box-shadow: 12px 12px 12px rgb(114 113 113);
    border-radius: 25%;
    cursor: pointer;

}

.but:hover {
    transition: 0.7s;
    transform: scale(1.1);

}

.but:active {
    transition: 0.2s;
    transform: scale(0.9);
}

.acc {
    width: 250px;
    font-size: 20px;
    color: #191918;
    opacity: 0;
    animation: animate 3.5s ease forwards;
    transition: 1s;
}

.open_account {
    margin-top: 46px;

    position: relative;
    right: 500px;
    opacity: 0;
    animation: RightToleft 0.8s ease forwards;
    animation-delay: calc(0.1s * var(--i));
        transition: 0.5s;
    }
    @keyframes RightToleft {
        0%{
            opacity: 0;
            right: 500px;
        }
        50%{
            opacity: .5;
        }
        100%{
            opacity: 1;
            right: 0;
        }
}

.cheak_account{ 
    
    position: relative;
    left: 500px;
    opacity: 0;
    animation: leftToRight 0.8s ease forwards;
        transition: 0.5s;
        animation-delay: calc(0.1s * var(--i));
    }
    @keyframes leftToRight {
        0%{
            opacity: 0;
            left: 500px;
        }
        50%{
            opacity: .5;
        }
        100%{
            opacity: 1;
            left: 0;
        }
    }
.open_pra {
    position: relative;
    top: -8px;
}

.check_pra {
    position: relative;
    top: -12px;
}


.but1 {
    width: 290px;
    height: 100px;
}

.but2 {
    width: 218px;
    height: 100px;
}

.footer{
    height: auto;
    overflow: hidden;
}
.footerAnimation{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3c82dd;
    overflow-y: hidden;
    animation: leftSlide 1.5s forwards ease;
    animation-delay: 1.5s;
    transition: 1s;
}
@keyframes leftSlide {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
    
}


@keyframes animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}


*/